* {
  box-sizing: border-box;
  background: linear-gradient(to right, yellow, orangered);
  margin: 0;
  padding: 0;
}

:focus {
 /* TODO */
}

body {
  /* TODO */
}

input {
 /* TODO */
}

.search-container {
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction:column;  /*make sure the input and suggestions are in columns not rows. */
  width: 300px;
  margin: 500px auto 0;
  /*padding: 10px 20px;
  height: 100vh;
  position: relative;
  */
  
}
.search-container input,
.search-container .suggestions {
  /* TODO */
}
.search-container input {
  display: flex;
  
  height: 50px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 300px;
  border: 1px solid orangered; /* search box border line */
  border-radius: 4px;
}
.search-container .suggestions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 300px;
  max-height: 500px;
  
  overflow: auto;
}

ul {
  
  border-top: 1px solid orangered;
  /*
  position: absolute;
  padding: 15px 10px;
  top: 120%;
  left: 0;
  
  overflow: auto;
  max-height: 0;
  list-style: none;
  color: #555;*/
  width: 300px;
  border-radius: 4px;
}
ul.has-suggestions {
  max-height: 500px;
  background-color: orangered;
}
ul li {
  background-color: orangered;
  list-style: none;
  border-radius: 4px;
  padding: 15px 10px;
}
ul li:hover {
  color: #0a0a23;
  background-color: #ac6d6d;
  border-radius:5px;
}

input {
  align-items: center;
}